/*contacts*/

.contact{
  display: flex;
  margin-bottom: 10px;
}

/*project*/

.project{
  display: flex;
  margin-bottom: 10px;
}
.project img{
  height: 150px;
  width:300px;
}
.project img:hover{
  height: 250px;
  width:400px;
}
@media (max-width:767px){
  .project{
    flex-direction: column;
  }
  .project img{
    height: 170px;
    width:350px;
  }
}
